@import url('https://fonts.googleapis.com/css?family=Passion+One|Sarabun');

html {
	height: 100%;
	box-sizing: border-box;
}

/* footer-bottom hax */
body, body:before, body:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;

	font-family: 'Sarabun', sans-serif;
	font-size: 1em;

	/* footer-bottom hax */
	min-height: 100%;
	position: relative;
	padding-bottom: 120px;
}

h1, h2 {
	font-family: 'Passion One', serif;
	font-weight: normal;
	margin: 10px auto;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

.page {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 70px;
	background-color: black;
	color: white;
	border-bottom: 4px solid #f73
}

footer {
	padding: 20px 0;
	border-top: 4px solid #aaa;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

header .heading {
	font-family: 'Passion One', sans-serif;
	font-size: 4em;
	font-weight: normal;
	margin: 0;
	align-self: end;
}

header .heading .a {
	color: white;
}

header .heading .b {
	color: #aaa;
}

header .heading a {
	color: inherit;
	text-decoration: none;
}

header img {
	align-self: start;
	vertical-align: top;
}

@media screen and (max-width: 1024px) {

	body {
		font-size: 1.2em;
		padding-bottom: 280px;
	}

	.nomobile {
		display: none;
	}

	header {
		height: 40px;
	}

	header .heading {
		font-size: 2em;
	}

	header .heading img {
		max-height: 45px;
	}
}
